<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.Listenr"></listener>
	</listeners>
	<test thread-count="5" name="Full_Test">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="testcases.LoginTest" />
			<class name="testcases.AddtoCartTest" />
			<class name="testcases.CompleteTest" />
			<class name="testcases.IndexPageTest" />
			<class name="testcases.SearchPageTest" />
			<class name="testcases.HomepageTest" />
		</classes>
	</test> <!-- Full_Test -->
</suite> <!-- AshishSuite -->
